.container-photos {
  width: 100%;
  padding: 0 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  box-sizing: border-box;
}
.photos-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container-photos .container-photos__card {
  margin-top: 5px;
}
